body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom
	margin-right 0

.btn
	border-radius(0) !important
	border-color transparent !important
	font-weight 100

.fa:before 
	content '\f00d'

a
	color dark

a:hover
	text-decoration: none !important
	color bt-blue

h1
	font-weight 200
.page-header
	border-bottom 0

.modal-title,
.modal-body
	text-align left

.modal-dialog-history
	width 1000px
	margin 30px auto;

#console
	.modal-dialog
		width 750px
		.modal-header
			background txt-blue
			color #fff
			font-weight bold
			padding 0
			.title
				padding 10px
				.closeConsole
					i 
						cursor pointer
						font-weight 800
						&:hover
							color pink-light
							text-shadow 1px 2px 3px rgba(0,0,0,0.3)
		.modal-body
			padding 0
			.content 
				height 500px
				border 0
				font-size 0.8em
				overflow-y scroll
				text-align left
			.row 
				margin-left 0 !important
				margin-right 0 !important
		.modal-footer
			margin 0
			padding 0
			border 0
			box-shadow 0px -1px 2px rgba(0,0,0,0.3)
			.row
				margin 0
				padding 5px
				input
					border 0
					text-align left
					&:focus
						outline 0
					.col-xs-2
						padding 0
						button
							width 100%

input
	line-height 30px

.label 
	font-size 100%
.table 
	thead
		tr 
			th 
				border-bottom 0
	tbody
		tr
			td 
				border-top 0
.medium
	width 120px
.small 
	width 50px

input
	border 1px solid white-grey
	text-align center
	color dark-light
	width 100px

.hc
	.nav-tabs
		li
			margin-bottom 0
			a 
				border 0
				border-radius 0
				color grey
				&:hover
					background purple-light
	li.active
		a 
			border 0
			background transparent
			color white
			font-weight 500
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
			&:hover
				border 0
				background transparent
				color white
.free
	.nav-tabs
		li
			margin-bottom 0
			a 
				border 0
				border-radius 0
				color grey
				&:hover
					background #98d98f
	li.active
		a 
			border 0
			background transparent
			color white
			font-weight 500
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
			&:hover
				border 0
				background transparent
				color white
.busy
	.nav-tabs 
		li
			margin-bottom 0
			a 
				border 0
				border-radius 0
				color grey
				&:hover
					background #f68985
	li.active
		a 
			border 0
			background transparent
			color white
			font-weight 500
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
			&:hover
				border 0
				background transparent
				color white

.mine
	.nav-tabs 
		li
			margin-bottom 0
			a 
				border 0
				border-radius 0
				color grey
				&:hover
					background #f9c472
	li.active
		a 
			border 0
			background transparent
			color white
			font-weight 500
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
			&:hover
				border 0
				background transparent
				color white

.signatures
	.nav-tabs 
		li
			margin-bottom 0
			a 
				border 0
				border-radius 0
				color grey
				&:hover
					background #70c8e2
	li.active
		a 
			border 0
			background transparent
			color white
			font-weight 500
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
			&:hover
				border 0
				background transparent
				color white

.all
	.nav-tabs 
		li
			margin-bottom 0
			a 
				border 0
				border-radius 0
				color grey
				&:hover
					background #0099e6
	li.active
		a 
			border 0
			background transparent
			color white
			font-weight 500
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
			&:hover
				border 0
				background transparent
				color white

.config
	.nav-tabs 
		li
			margin-bottom 0
			a 
				border 0
				border-radius 0
				color grey
				&:hover
					background #ec7055
	li.active
		a 
			border 0
			background transparent
			color white
			font-weight 500
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
			&:hover
				border 0
				background transparent
				color white
			i 
				font-weight 800
.parts
	.nav-tabs 
		li
			margin-bottom 0
			a 
				border 0
				border-radius 0
				color grey
				&:hover
					background #999
	li.active
		a 
			border 0
			background transparent
			color white
			font-weight 500
			text-shadow 1px 2px 3px rgba(0,0,0,0.3)
			&:hover
				border 0
				background transparent
				color white
			i 
				font-weight 800


.navbar
	border-radius 0 !important
	margin-bottom 0 !important

.navbar-brand
	text-shadow 0 1px 0 #fff
	padding 14px 15px
.navbar-right
	padding 7px 5px
pre
	border-radius 0 !important
	border 1px solid #f5f5f5 
	background white


.form-control
	border 1
	border-radius 0 
	box-shadow none
.form-control:focus
	outline none
.popover
	max-width 500px !important
	white-space nowrap
	table
		margin-bottom 0

td 
	.userinfo
		white-space nowrap

@media (min-width: 1200px)
	.container
		max-width 1370px 
		width 1370px
