@import 'nib'

#footer
	height 60px
	background #f5f5f5


.or
	text-align left
	margin-top margin-bigger 

.hline
	text-decoration line-through
	color dark-grey

.or-text
	font-weight 700
	color dark-grey