.chart 
	shape-rendering crispEdges


	.mini text 
		font-size 0.8em
	// 	font 9px sans-serif	

	.main
		padding 20px
	.main text 
		font-size 0.9em
		fill black	
		margin-left 20px


	.month text 
		text-anchor start


	.todayLine 
		stroke callout-bd
		stroke-width 1.5


	.axis line, .axis path 
		stroke #aaa


	.miniItem 
		stroke-width 6	


	.future 
		stroke gray
		fill #ddd


	.past 
		stroke green
		fill green


	.brush .extent 
		// stroke callout-bg
		fill callout-bd
		fill-opacity .5
