.navbar
	background white-grey

	button
		a
			color white
	button.btn-user
		background none
		opacity 0.6
		padding 2px
		a 
			color dark
		&:focus
			outline none
		&:active 
			box-shadow none
		&:hover
			opacity 1
.bs-sidebar.affix-top
	width 300px

