#soccer
	.name
		width 200px
	.add-player 
		background #efefef
		padding 10px 40px
		table
			width 80%
			margin-bottom 0
	.pay-balance
		cursor pointer
		opacity 0.7
		&:hover
			opacity 1
	.paid 
		color green2
		

	.player-list
		tbody 
			border-top 1px solid #efefef
		.total
			border-top 1px solid #efefef