
// color
grey-light 		= #efefef
grey 			= #eee
dark-grey		= #aaa
dark-light 		= #888
dark 			= #555
bt-blue			= #428bca
txt-blue 		= #0088cc
purple 			= #803fbf
purple-light 	= #8d52c6
err-red			= #ca4247
// green 			= #1b926c
green 			= #87D37C
green-light		= #98d98f
// green-light		= #1fa87c
green-dark		= #177c5c

green2 			= #87D37C
pink 			= #f4726d
pink-light		= #f68985
white			= #fff
white-grey 		= #efefef
yellow 			= #f8ba5a
orange			= #E95D3E
orange-light 	= #ec7055
callout-bg		= #f4f8fa
callout-bd		= #bce8f1
// font-size
font-small		= 12px
font-reguar 	= 16px
font-bigger 	= 20px

// margin
margin-regular 	= 10px
margin-bigger 	= 20px

// padding
padding-regular = 10px

