head
	title= title
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css')
	link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')

	link(rel='stylesheet', href='/vendor/bootstrap/css/docs.css')
	link(rel='stylesheet', href='/vendor/datepicker/css/datepicker.css')
	link(rel='stylesheet', href='/vendor/webfonts/ss-pika.css')
	link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css')
	link(rel='stylesheet', href='/vendor/pe-icon-7-stroke/css/helper.css')

	link(rel='stylesheet', href='/stylesheets/style.css')

	//- link(rel='stylesheet', href='/vendor/angular/ngQuickDate/dist/ng-quick-date-default-theme.css')
	//- link(rel='stylesheet', href='/vendor/angular/ngQuickDate/dist/ng-quick-date-plus-default-theme.css')
	link(rel='stylesheet', href='/vendor/angular/ngQuickDate/dist/ng-quick-date.css')
	link(rel='stylesheet', href='/vendor/angular/ngprogress/ngProgress.css')
	link(rel='stylesheet', href='/vendor/angular/angular-motion/dist/angular-motion.min.css')
	link(rel='stylesheet', href='/vendor/angular/ng-table/ng-table.min.css')
		
