.modal
	.modal-dialog
		.modal-content
			.modal-header
				div.modal-title 
					div(class='label {{ipClass}}') {{node.ip}} 
					span &nbsp; &middot; &nbsp; {{node.type}} &nbsp; &middot; &nbsp;
					span(ng-if='node.version') {{node.version}}
					button.close(ng-click='$hide()') x 

			.modal-body
				table.table
					tr
						p(style="background-color:#f4726d;color:white;text-align:center;") * Book up to 30 days *
					tr
						td.pull-right START 
						td 
							quick-datepicker(ng-model='startDate', date-format='EEEE, MM/dd/yyyy', disable-timepicker='true', date-filter='noPastDates')
					tr 
						td.pull-right END
						td
							quick-datepicker(ng-model='endDate', date-format='EEEE, MM/dd/yyyy', disable-timepicker='true', date-filter='noPastDates')

					tr(ng-if="(filter == 'mine') || ((filter == all) && nodeIsMine(node))")
						td
						td 
							button.btn.btn-info(ng-controller='nodeBookingCtrl', ng-click='releaseMe(node)') Release 
					tr(ng-if="(filter == 'mine')") 
						td
						td
							small &nbsp; * clicking on the button will release the node immidiately *

				div(flash-alert='success', active-class='in alert', class='fade')
					span.alert-message {{flash.message}}

			.modal-footer()
				span.pull-left(ng-if='node.owner', ng-controller='userInfoPopoverCtrl') Booked by 
					a(ng-click="setUser(node)", title='{{popover.title}}', data-content='{{popover.content}}', data-template='../partials/userInfo', data-animation="am-flip-x", bs-popover) {{owner}}

				button.btn.btn-warning(ng-click='$hide()') Cancel
				button.btn.btn-primary(ng-controller='nodeBookingCtrl', ng-click="bookMe(node)") OK
