.popover.row
	.arrow
	.popover-content
		table.table.table-striped
			tr 
				td POS
				td.userinfo {{pos.pos}}
			tr
				td RACK
				td.userinfo {{pos.rack}}
			tr 
				td ROW
				td.userinfo {{pos.row}}