div
		.container
			h1 3LS Optical Fibers Patch Panels Booking
			hr 
			form
				table.table.row
					tr 
						td
							a(href="http://138.120.189.252/scheduler" style="color:#08c" target="_blank") 3LS Optical Fibers Patch Panels Booking Link
			hr